<header>
  <nav class="bg-white shadow-md px-2 sm:px-6 py-3 flex  sm:flex-row items-center justify-between">
    
    <div class="flex flex-col sm:flex-row items-center space-y-2  sm:space-x-6 sm:space-y-0 text-sm sm:text-base"> 
      
      <a
        href="/home"
        class="text-gray-800 font-semibold hover:text-blue-600 transition"
      >Home</a>

      <% if(isLoggedIn==1){ %> 
        <% if( user.userType == 'Guest'){ %>
          <a
            href="/favourites"
            class="text-gray-800 font-semibold hover:text-blue-600 transition"
          >Favourites</a>
          <a href="/bookingList"
            class="text-gray-800 font-semibold hover:text-blue-600 transition"
          >BookingList</a>
        <% } else if(user.userType == 'Host') { %>
          <a href="/host/home-list"
            class="text-gray-800 font-semibold hover:text-blue-600 transition"
          >Home List</a>
          <a href="/host/add-home"
            class="text-gray-800 font-semibold hover:text-blue-600 transition"
          >Add Home</a>
          <a href="/host/bookings"
            class="text-gray-800 font-semibold hover:text-blue-600 transition"
          >Bookings</a>
        <% } %>
      <% } %>
    </div>
    
   <div class="flex flex-col sm:flex-row items-center space-y-2  sm:space-x-6 sm:space-y-0 text-sm sm:text-base"> 
      <% if(isLoggedIn==1){ %>
        <a
          href="/profile"
          class="flex items-center space-x-1 text-gray-800 font-semibold hover:text-blue-600 transition text-sm sm:text-base"
        >
          <span>👤Profile</span>
        </a>
        
        <form action="/logout" method="POST" class="inline">
          <button
            type="submit"
            class="px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600 transition text-sm sm:text-base"
          >
            Logout
          </button>
        </form>
      <% } else { %>
        <a
          href="/login"
          class="text-gray-800 font-semibold hover:text-blue-600 transition text-sm sm:text-base"
        >Login</a>
        <a
          href="/signup"
          class="text-gray-800 font-semibold hover:text-blue-600 transition text-sm sm:text-base"
        >Sign Up</a>
      <% } %>
    </div>
  </nav>
</header>
